<launch>
     <arg name="model" value='burger'/>
   <node pkg="assignment2B_turtlebot3" type="circle_fast.py" name="circle_fast" output="screen" if="$(eval arg('code') =='circle')" />
   <node pkg="assignment2B_turtlebot3" type="square_openloop_slow.py" name="square_openloop_slow" output="screen" if="$(eval arg('code') =='square')" />
</launch>
